include README.md
recursive-include src/backend/literev/templates *.html *.txt *.json
recursive-include src/backend/static *
recursive-include src/backend/literev/migrations *.py
recursive-include src/backend/literev_core/data *
