{% extends "main.html" %}

{% load static %}

{% block content %}
  <h2 class="pb-2 border-bottom text-center"
      style="height: 10vh">
    Document Content
  </h2>

  <div class="container d-flex justify-content-center align-items-center">

    <hr />
    <div class="col-10">
      <h3 class="text-end">
        <span class="badge text-bg-dark"> {{ document.procedure_type }} </span>
      </h3>
      <div class="ms-auto mt-3 text-start mb-3">
        <div>
          <b> {{ document.decision_type }} </b>
          , du {{ document.decision_date }}
          <b>Result: </b>
          {{ document.result }}
        </div>
      </div>
      <div class="mb-3 ms-auto">
        <div>
          <b>Normes: </b>
          {{ document.standards }}
        </div>
      </div>

    </div>

  </div>
  <div class="container">
    <div style="background-color: #f8f9fa">
      {{ document.raw_document_text }}
    </div>
    <div style="background-color: #e6f1f0">

    </div>
  </div>
  <div class="container-fluid px-4 py-5 my-5">

  </div>
{% endblock content %}
