{% extends "base.html" %}

{% load static %}

{% load filtering_functions %}

{% block modal %}
  <!-- modal -->
  {% if AreYouSure %}
    <div class="div modal-backdrop fade show">
    </div>
    <div class="modal fade show"
         style="display: block"
         data-bs-keyboard="false"
         tabindex="-1"
         aria-labelledby="staticBackdropLabel"
         aria-modal="true">
      <form action=""
            method="POST">
        {% csrf_token %}
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5">
                A new refinement is being created with the following data.
                Would you like to continue?
              </h1>
              <button class="cancel-generate btn-close"
                      type="submit"
                      name="submit"
                      value="cancel"
                      aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <ul class="list-group">
                <li class="list-group-item mx-4 ps-4">
                  Number of documents : {{ number_document }}
                </li>
                <!-- Use this piece of code when sharing project feature is enable -->
                <li class="list-group-item mx-4 ps-4">
                  Owner : {{ user.username }}
                </li>
              </ul>
              <hr />
              <div class="mx-4 mb-3">
                <label for="name-refinement"
                       class="form-label">
                  Please provide a Refinement name
                </label>
                <input class="form-control"
                       id="name-refinement"
                       type="text"
                       name="refinement-name"
                       placeholder="Refinement Name"
                       required
                       autofocus />
                <input type="hidden"
                       name="filters"
                       value="{{ filters }}" />
                <input type="hidden"
                       name="document_pk_list"
                       value="{{ document_pk_list }}" />
              </div>
            </div>
            <div class="modal-footer">
              <button class="cancel-generate btn btn-secondary"
                      type="submit"
                      name="submit"
                      value="cancel">
                Cancel
              </button>
              <button id="continue-button"
                      type="submit"
                      name="submit"
                      value="continue"
                      class="btn btn-primary"
                      {% if number_document == 0 %}
                        disabled
                      {% endif %}>
                Continue
              </button>
              <button id="creating-refinement"
                      class="btn btn-primary col-5"
                      type="button"
                      disabled
                      hidden="">
                <span class="spinner-border spinner-border-sm"
                      role="status"
                      aria-hidden="true"></span>
                Creating ...
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  {% endif %}

  {% if confirm_delete_project %}
    <div class="div modal-backdrop fade show">
    </div>
    <form action=""
          method="POST">
      {% csrf_token %}
      <div class="modal fade show"
           style="display: block"
           id="deleteModal"
           tabindex="-1"
           aria-labelledby="deleteModal"
           aria-hidden="false">

        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5"
                  id="deleteModalLabel">
                Delete Project
              </h1>
              <button class="btn-close"
                      data-bs-dismiss="modal"
                      type='submit'
                      name='submit'
                      value='cancel'
                      aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <p>
                Are you sure you want to delete following project?
              </p>
              <div class="ms-5">
                Project: {{ project.name }}
              </div>
              <div class="ms-5 mb-3">
                Query:
                {% if project.query %}
                  {{ project.query }}
                {% else %}
                  No query
                {% endif %}
              </div>
              <p>
                This action cannot be undone. Delete this project will permanently remove it.
              </p>
            </div>
            <div class="modal-footer">
              <input type="hidden"
                     name="project_id"
                     value="{{ project_id }}" />
              <button class="btn btn-secondary"
                      type='submit'
                      name='submit'
                      value='cancel'
                      data-bs-dismiss="modal">
                Close
              </button>
              <button type="submit"
                      name="submit"
                      value="confirm_delete_project"
                      class="btn btn-danger">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  {% endif %}

  {% if confirm_update_project %}
    <div class="div modal-backdrop fade show">
    </div>
    <div class="modal fade show"
         style="display: block"
         data-bs-keyboard="false"
         tabindex="-1"
         aria-labelledby="staticBackdropLabel"
         aria-modal="true">
      <form action=""
            method="POST">
        {% csrf_token %}
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 mt-3">
                A new updated project is going to be created.
                Would you like to continue with these parameters
                to update?
              </h1>
              <button class="btn-close cancel-update"
                      type="submit"
                      name="submit"
                      value="cancel"
                      aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <ul class="list-group">
                <li class="list-group-item mx-4 ps-4">
                  <div class="row">
                    <div class="col-4">
                      New date range :
                    </div>
                    <div class="col-8">
                      <div>
                        {{ begin_date }}
                      </div>
                      <div>
                        {{ new_end_date }}
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item mx-4 ps-4">
                  Number of aditional documents : {{ estimated_new_documents }}
                </li>
                <li class="list-group-item mx-4 ps-4 mb-4">
                  New total estimated documents : {{ new_total_documents }}
                </li>
              </ul>
            </div>
            <div class="mx-4 mb-3">
              <label for="update-name"
                     class="form-label">
                Please confirm or provide a name for the updated Project
              </label>
              <input class="form-control"
                     id="update-name"
                     type="text"
                     name="update-name"
                     placeholder="New Project name"
                     value="{{ new_project_name }}"
                     required
                     autofocus />

              <input type="hidden"
                     name="new_total_documents"
                     value="{{ new_total_documents }}" />
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary cancel-update"
                      type="submit"
                      name="submit"
                      value="cancel">
                Cancel
              </button>
              <button id="continue-update"
                      type="submit"
                      name="submit"
                      value="confirm-update"
                      class="btn btn-primary"
                      {% if estimated_new_documents == 0 %}
                        disabled
                      {% endif %}>
                Continue
              </button>
              <button id="starting-update"
                      class="btn btn-primary col-5"
                      type="button"
                      disabled
                      hidden="">
                <span class="spinner-border spinner-border-sm"
                      role="status"
                      aria-hidden="true"></span>
                Starting Update...
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  {% endif %}

  {% if update_message %}
    <div class="div modal-backdrop fade show">
    </div>
    <form action=""
          method="POST">
      {% csrf_token %}
      <div class="modal fade show"
           style="display: block"
           id="deleteModal"
           tabindex="-1"
           aria-labelledby="deleteModal"
           aria-hidden="false">

        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5"
                  id="deleteModalLabel">
                Updating Research Project...
              </h1>
              <button class="btn-close"
                      data-bs-dismiss="modal"
                      type='submit'
                      name='submit'
                      value='accept-update'
                      aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <p>
                The research project is being updated.
              </p>
              <div class="ms-5">
                <b>Project:</b> {{ project_name }}
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit"
                      name="submit"
                      value="accept-update"
                      class="btn btn-primary">
                Accept
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  {% endif %}
  <!-- ---- -->
{% endblock modal %}

{% block content %}
  <div class="d-flex flex-grow-1 overflow-scroll">
    <div class="flex-grow-1 justify-content-center">
      <h2 class="text-center my-4 py-4">
        <i class="text-dark fa-solid fa-book-open-reader me-2"></i>
        <a class="text-dark">Project: </a> {{ project.name }}
      </h2>
      {% if refinement_limit_exceeded %}
        <div class="row text-center">
          <div class="alert alert-warning">
            <span> You have reached the limit of refinements.</span>
          </div>
        </div>
      {% endif %}
      {% if errors %}
        {% for error in errors %}
          <div class="row text-center">
            <div class="alert alert-warning">
              <span> {{ error }} </span>
            </div>
          </div>
        {% endfor %}
      {% endif %}
      <div class="container">

        <div class="row">
          <div class="mx-auto col-lg-8 col-md-12 col-sm-12">
            <hr />
            <div class="fw-bold fs-3">
              Details
            </div>
            <table class="table">
              <tbody>
                <!-- Uncomment this code when sharing project feature is enabled -->
                <!-- <tr>
                  <th scope="row">
                    Owner
                  </th>
                  <td>
                    {{ project.user.username }}
                  </td>
                </tr> -->
                <tr>
                  <th scope="row">
                    Creation date
                  </th>
                  <td>
                    {{ project.creation_date }}
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Query
                  </th>
                  <td>
                    {{ project.query }}
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Range date project
                  </th>
                  <td>
                    <div>
                      From: {{ project.range_begin_date }}
                    </div>
                    <div>
                      To: {{ project.range_end_date }}
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Number of Documents
                  </th>
                  <td class="align-middle">
                    {{ project | count_processed_documents }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
        {% if not project_id|check_shared_project %}
          <div class="row">
            <div class="mx-auto col-lg-8 col-md-12 col-sm-12"">
              <div class="fw-bold fs-5 mb-2">
                Management
              </div>
              <form action=""
                    method="POST">
                {% csrf_token %}
                <div class="row">
                  <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="submit"
                            name="submit"
                            value="update"
                            class="btn btn-primary">
                      <i class="fa-solid fa-arrow-up-wide-short me-2"></i>Update
                    </button>
                  </div>
                  <input type="hidden"
                         name="project_id"
                         value="{{ project.id }}" />
                  <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="submit"
                            name="submit"
                            value="delete"
                            class="btn btn-danger text-white">
                      <i class="fa-regular fa-trash-can me-2"></i> Delete
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="container my-2">
        <div class="text-center">
          <div class="fw-bold fs-3 d-inline-block me-3 mt-5">
            Clusters plot
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-3 mb-5">
        <div class="d-flex container">
          {% if div_plot %}
            {{ div_plot | safe }}
          {% endif %}
        </div>
      </div>

      {% with project|clusters_summary as summaries %}

        {% if summaries %}
          <div class="container mb-5">
            <h3 class="text-center mb-3">
              Cluster Summary Table
            </h3>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">
                    Cluster Number
                  </th>
                  <th scope="col">
                  </th>
                  <th scope="col">
                    Topic
                  </th>
                  <th scope="col">
                    Summary
                  </th>
                  <th scope="col">
                    Total Documents
                  </th>
                  <th scope="col">
                    Representative Document
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for summary in summaries %}
                  <tr style="background-color: {{ topic_colors|get_dict_value:summary.topic }}15">
                    <td class="align-middle py-4 fs-2">
                      <h2 class="text-center">
                        {% if summary.cluster_order != -1 %}
                          {{ summary.cluster_order }}
                        {% endif %}
                      </h2>
                    </td>
                    <td class="align-middle px-4">
                      <span class="d-inline-block rounded-circle"
                            style="background-color: {{ topic_colors|get_dict_value:summary.topic }};
                                   width: 30px;
                                   height: 30px"></span>
                    </td>
                    <td class="align-middle py-4">
                      {{ summary.topic_10 }}
                    </td>
                    <td class="py-4">
                      {% if not summary.summary_text %}
                        <div>
                          <div class="alert alert-light shadow-sm"
                               role="alert">
                            We couldn't generate a summary at the moment. Please try again by clicking the generate button below.
                          </div>
                          <div class="text-end">
                            <button type="button"
                                    class="btn btn-secondary generate-summary-button"
                                    data-generate-summary-url="{% url "generate-summary" summary.cluster_id %}"
                                    data-cluster-id="{{ summary.cluster_id }}"
                                    data-csrf-token="{{ csrf_token }}">
                              Generate <i class="fa-regular fa-pen-to-square"></i>
                            </button>
                          </div>

                        </div>
                      </div>
                    {% else %}
                      {{ summary.summary_text }}
                    {% endif %}
                  </td>
                  <td class="py-4">
                    <p class="px-2">
                      {{ summary.total_documents }}
                    </p>
                  </td>
                  <td class="py-4">
                    {% if summary.document_id %}
                      <div class="px-2">
                        <i>Document ID: </i> <b>{{ summary.document_id }}</b>
                      </div>
                      <div class="px-2">
                        <i>Procedure Type: </i> <b>{{ summary.procedure_type }}</b>
                      </div>
                      <div class="px-2">
                        <i>Decision Type: </i> <b>{{ summary.decision_type }}</b>
                      </div>
                      <div class="px-2">
                        <i>Result: </i> <b>{{ summary.result }}</b>
                      </div>
                    {% else %}
                      <p class="px-2">
                        N/A
                      </p>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
    {% endwith %}

    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <h3 id="refine-title"
                class="text-center">
              Refine search
            </h3>
          </div>
          <div class="row my-2">
            <div id="key-selector-container"
                 class="col-2">
              <div class="dropdown">
                <select class="form-select form-select-lg"
                        name="type-filter"
                        id="type-filter"
                        value="Topic">
                  <option value="Topic">
                    Topic
                  </option>
                  <option value="Norm">
                    Norms
                  </option>
                  <option value="Keyword">
                    Keyword search
                  </option>
                  <option value="No_decis">
                    No_decis
                  </option>
                  <option value="Result">
                    Result
                  </option>
                  <option value="year_range">
                    Decision Year
                  </option>
                  <option value="descriptors">
                    Descriptor
                  </option>
                </select>
              </div>
            </div>

            <div id="value-selector-container"
                 class="col-7">
              <div class="input-group input-group-lg">
                <input id="text-filter"
                       type="text"
                       class="form-control"
                       placeholder="Criteria" />
              </div>
            </div>

            <div id="year-selector-container"
                 class="col-7">
              <div class="input-group input-group-lg">
                <input id="year-filter"
                       type="text"
                       class="form-control"
                       placeholder="Enter a year as YYYY or a range as YYYY-YYYY (e.g., 2020 or 2017-2022)."
                       aria-describedby="validation-error-message" />
              </div>
              <!-- Placeholder for validation error -->
              <small id="validation-error-message"
                     class="text-danger"
                     style="display:none">
              </small>
            </div>

            <div id="descriptor-selector-container"
                 class="col-7">
              <div class="input-group input-group-lg">
                <input id="descriptor-filter"
                       class="form-control"
                       list="datalistDesc"
                       placeholder="Descriptors to search" />
                <datalist id="datalistDesc">
                  {% for desc in descriptors_list %}
                    <option value="{{ desc }}">
                    </option>
                  {% endfor %}
                </datalist>
              </div>
            </div>

            <div id="norm-selector-container"
                 class="col-7">
              <div class="input-group input-group-lg">
                <input id="norm-filter"
                       class="form-control"
                       list="datalistNorms"
                       placeholder="Norms to search" />
                <datalist id="datalistNorms">
                  {% for norm in standard_list %}
                    <option value="{{ norm }}">
                    </option>
                  {% endfor %}
                </datalist>
              </div>
            </div>

            <div id="result-selector-container"
                 class="col-7">
              <div class="input-group input-group-lg">
                <input id="result-filter"
                       class="form-control"
                       list="datalistResult"
                       placeholder="Result to search" />
                <datalist id="datalistResult">
                  {% for result in result_list %}
                    <option value="{{ result }}">
                    </option>
                  {% endfor %}
                </datalist>
              </div>
            </div>

            <div id="topic-selector-container"
                 class="col-7">
              <div class="dropdown">
                <select class="form-select form-select-lg"
                        name="topic-value"
                        id="topic-value"
                        value="Topic">
                  {% for topic in list_number_topic10 %}
                    <option value="{{ topic }}">
                      {{ topic }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-3 d-flex justify-content-around">
              <div>
                <button id="add-button"
                        class="btn-lg btn btn-success"
                        disabled>
                  Add (And)
                </button>
              </div>

              <div>
                <button id="exclude-button"
                        class="btn-lg btn btn-secondary"
                        disabled>
                  Exclude (Not)
                </button>
              </div>
            </div>
          </div>

          <div id="filter-union-container">

          </div>
          <div class="row">
            <div class="mx-auto col-11">
              <p class="d-flex justify-content-center">
                <button id="create-filter"
                        class="btn btn-outline-success btn-lg my-2">
                  Create Filter (Union)
                </button>
              </p>
            </div>
          </div>

          <div id="filter-exclude-container">
            <div class="fs-3 d-flex">
              <span class="badge text-bg-danger rounded-pill align-self-center text-white">
                AND NOT
              </span>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="container">

      <form action=""
            method="POST">
        {% csrf_token %}
        <input type="number"
               name="project_id"
               value="{{ project_id }}"
               hidden />
        <div id="input-json">

        </div>
        <div class="row">
          <div class="mx-auto col-11">
            <p class="d-flex justify-content-end">
              <button type="submit"
                      name="submit"
                      value="filters"
                      class="btn btn-primary btn-lg mt-2 mb-5">
                Generate
              </button>
            </p>
          </div>
        </div>
      </form>
    </div>
    {% if refinements %}
      <div class="container mb-5 fs-5">
        <div class="fw-bold fs-3 text-center mb-3">
          Refinement history
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">
                Name
              </th>

              <th scope="col">
                Owner
              </th>
              <th scope="col">
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            {% for refinement in refinements %}
              <tr>
                <th scope="row">
                  <form action=""
                        method='POST'>
                    {% csrf_token %}
                    <div class="btn-group"
                         role="group"
                         aria-label="refinements-table">
                      <button type="submit"
                              name="get-refinement"
                              value="{{ refinement.id }}"
                              class="btn btn-outline-secondary my-2">
                        {{ refinement.name }}
                      </button>
                      <button type="submit"
                              name="remove-refinement"
                              value="{{ refinement.id }}"
                              class="btn btn-outline-danger my-2">
                        X
                      </button>
                    </div>
                  </form>
                </th>

                <td class="align-middle">
                  {{ refinement.owner.username }}
                </td>
                <td>
                  <form action=""
                        method="POST">
                    {% csrf_token %}
                    <input type="hidden"
                           name="refinement_id"
                           value="{{ refinement.id }}" />
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </div>
</div>
</div>
{% endblock content %}

{% block jscode %}
  <script src="{% static "js/generate_summary.js" %}"></script>
  <script src="{% static "js/utils.js" %}"></script>
  <script src="{% static "js/select_functions.js" %}" defer> </script>

  <script src="{% static "js/filter_functions.js" %}"> </script>

  {% if confirm_update_project %}
    <script>
      const continueUpdateButton = document.getElementById("continue-update");
      const cancelButtonsUpdate = document.querySelectorAll(".cancel-update");
      const startingButtonUpdate = document.getElementById("starting-update");

      cancelButtonsUpdate.forEach(btn => btn.addEventListener("click", (e) => {
        const nameInput = document.querySelector("#update-name");
        nameInput.removeAttribute("required");
      }))
      // Get the input field
      const inputRefUpdateName = document.getElementById("update-name");

      // Execute a function when the user presses a key on the keyboard
      inputRefUpdateName.addEventListener("keypress", function(event) {
        // If the user presses the "Enter" key on the keyboard
        if (event.key === "Enter") {
          // Cancel the default action, if needed
          event.preventDefault();
          // Trigger the button element with a click
          continueUpdateButton.click();
        }
      });

    continueUpdateButton.addEventListener("click", () => {
      continueUpdateButton.style.pointerEvents = "none";
      cancelButtonsUpdate.forEach((button) => {
        button.style.pointerEvents = 'none';
        button.style.disabled = true;
        button.style.cursor = "not-allowed";
      });
      continueUpdateButton.hidden = true;
      startingButtonUpdate.hidden = false;
    });
    </script>
  {% endif %}

  {% if AreYouSure %}
    <script>
      const continueButton = document.getElementById("continue-button");
      const cancelButtons = document.querySelectorAll(".cancel-generate");
      const startingButton = document.getElementById("creating-refinement");

      cancelButtonsUpdate.forEach(btn => btn.addEventListener("click", (e) => {
        const nameInput = document.querySelector("#name-refinement");
        nameInput.removeAttribute("required");
      }))
      // Get the input field
      const inputRefName = document.getElementById("name-refinement");

      // Execute a function when the user presses a key on the keyboard
      inputRefUpdateName.addEventListener("keypress", function(event) {
        // If the user presses the "Enter" key on the keyboard
        if (event.key === "Enter") {
          // Cancel the default action, if needed
          event.preventDefault();
          // Trigger the button element with a click
          continueUpdateButton.click();
        }
      });

    continueUpdateButton.addEventListener("click", () => {
      continueUpdateButton.style.pointerEvents = "none";
      cancelButtonsUpdate.forEach((button) => {
        button.style.pointerEvents = 'none';
        button.style.disabled = true;
        button.style.cursor = "not-allowed";
      });
      continueUpdateButton.hidden = true;
      startingButtonUpdate.hidden = false;
    });
    </script>
  {% endif %}

  <script src="{% static "js/bokeh.min.js" %}"></script>
  {% if script_plot %}
    {{ script_plot | safe }}
  {% endif %}
  <script>
    // Start with a filter
  buttonCreate.dispatchEvent(new Event("click"));
  </script>
{% endblock jscode %}
