{% extends "base.html" %}

{% load static %}

{% block modal %}

{% endblock modal %}

{% block content %}
  <div class="d-flex flex-grow-1">
    <div class="container running-box px-4">
      <h2 class="text-center mb-4 pb-4">
        <i class="fa-solid fa-gears me-3"></i>
        Project status
      </h2>
      <div class="row align-items-center fs-5 mb-3 g-2 fw-bold">
        <div class="col-2">
          Project Name
        </div>
        <div class="col-2">
          Query
        </div>
        <div class="col-3">
          Status
        </div>
        <div class="col-3 text-center">
          Progress
        </div>
        <div class="text-center col-2">
          Actions
        </div>
      </div>
      <div class="row">
        <hr />
      </div>

      <div class="mt-4 row justify-content-center justify-content-xl-end">
        <div class="col-12 col-md-10 col-xl-6">
          <div class="row justify-content-center justify-content-xl-end">
            <div class="col-12 d-flex justify-content-end gap-5">
              <form action=""
                    method="POST">
                {% csrf_token %}
                <button type="submit"
                        name="submit"
                        value="reload"
                        class="btn btn-md btn-primary">
                  Check status
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block jscode %}

  <script>
    // To modify scrolling through javascript
    // scrolling instantly
    const root = document.querySelector(':root');
    root.setAttribute("style", "scroll-behavior: auto;");
    // to store the scroll position
    document.addEventListener("DOMContentLoaded", function(event) {
            var scrollpos = localStorage.getItem('scrollpos');
            if (scrollpos) window.scrollTo(0, scrollpos);
        });

        window.onbeforeunload = function(e) {
            localStorage.setItem('scrollpos', window.scrollY);

        };
  </script>
{% endblock jscode %}
