{% extends "base.html" %}

{% load static %}

{% load filtering_functions %}

{% block modal %}
  {% if delete_message %}
    <div class="div modal-backdrop fade show">
    </div>
    <form action=""
          method="POST">
      {% csrf_token %}
      <div class="modal fade show"
           style="display: block"
           id="deleteModal"
           tabindex="-1"
           aria-labelledby="deleteModal"
           aria-hidden="false">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5"
                  id="deleteModalLabel">
                Delete Project
              </h1>
              <button class="btn-close"
                      data-bs-dismiss="modal"
                      type='submit'
                      name='submit'
                      value='cancel'
                      aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <p>
                Are you sure you want to delete the following project?
              </p>
              <div class="ms-5">
                Project: {{ project.name }}
              </div>
              <div class="ms-5">
                Total documents: {{ project.total_documents }}
              </div>
              <div class="ms-5">
                Creation date: {{ project.creation_date }}
              </div>
              <div class="ms-5 mb-3">
                Status:
                {% if project.is_finish %}
                  Finished
                {% else %}
                  Running
                {% endif %}
              </div>
              <p>
                This action cannot be undone. Deleting this project will permanently remove it.
              </p>
            </div>
            <div class="modal-footer">
              <input type="hidden"
                     name="project_id"
                     value="{{ project.id }}" />
              <button class="btn btn-secondary"
                      type='submit'
                      name='submit'
                      value='cancel'
                      data-bs-dismiss="modal">
                Close
              </button>
              <button type="submit"
                      name="submit"
                      value="confirm_delete"
                      class="btn btn-danger">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  {% endif %}
{% endblock modal %}

{% block sidebar %}

  {% include "components/sidebar.html" %}

{% endblock sidebar %}

{% block content %}
  <div class="d-flex">
    <div class="container">
      <div class="col-sm-12 col-md-12 col-xl-12">
        <div class="container py-8"
             style="padding-top: 115px">
          <h1 class="text-center mb-4 text-dark">
            <i class="fa-solid fa-gears me-3"></i>
            Project status
          </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5 pb-5">
    <div class="row"
         style="overflow:auto">
      <div class="col-12">
        <div class="row align-items-center fs-5 mb-3 g-2 fw-bold">
          <div class="col-4">
            Project Name
          </div>
          <div class="col-2">
            Query
          </div>
          <div class="col-2">
            Status
          </div>
          <div class="col-3 text-center">
            Progress
          </div>
          <div class="col-1 text-center">
            Actions
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <hr />
    </div>
    {% for project in projects %}
      <div class="project-search-metadata row align-items-center fs-5 g-3 mb-2">
        <div class="col-4 d-flex">
          <div style="cursor:pointer"
               data-bs-toggle="collapse"
               data-bs-target="#collapse-step-finished-{{ forloop.counter }}">
            <div>
              <i class="fa-sharp fa-solid fa-chevron-right fa-sm"></i>
            </div>
          </div>
          <div>
            {% if project.step == 'clustering' or project.step == 'asking-rag' %}
              <a class="ms-2 fw-bold"
                 href="/project/{{ project.id }}">{{ project.name }}
              </a>
            {% else %}
              <span class="ms-2 fw-bold">
                {{ project.name }}
              </span>
            {% endif %}
          </div>
        </div>
        <div class="col-2">
          {{ project.query }}
        </div>
        <div class="col-2">
          {{ project.step }}
        </div>
        {% if project.step == "getting_documents" %}
          <div class="col-1">
            {{ project|created_documents }}
          </div>
          {% with percentage=project|created_percentage %}
            <div class="pe-5 col-2">
              <div class="progress"
                   role="progressbar"
                   aria-label=""
                   aria-valuenow="{{ percentage }}"
                   aria-valuemin="0"
                   aria-valuemax="100"
                   style="height: 30px">
                <div class="progress-bar bg-success fs-6"
                     style="width: {{ percentage }}%">
                  {{ percentage }}%
                </div>
              </div>
            </div>
          {% endwith %}
        {% elif project.step == "preparing" %}
          <div class="col-1">
            {{ project|prepared_progress }}
          </div>
          {% with percentage=project|prepared_percentage %}
            <div class="pe-5 col-2">
              <div class="progress"
                   role="progressbar"
                   aria-label=""
                   aria-valuenow="{{ percentage }}"
                   aria-valuemin="0"
                   aria-valuemax="100"
                   style="height: 30px">
                <div class="progress-bar bg-warning fs-6"
                     style="width: {{ percentage }}%">
                  {{ percentage }}%
                </div>
              </div>
            </div>
          {% endwith %}
        {% elif project.step == "preprocessing" %}
          <div class="col-1">
          </div>
          <div class="pe-5 col-2">
            Creating n-grams
          </div>
        {% elif project.step == "asking-rag" %}
          <div class="col-1">
          </div>
          <div class="pe-5 col-2">
            Question Answering
          </div>
        {% elif project.step == "clustering" %}
          <div class="col-1">
            Trial: {{ project|clustering_progress }}
          </div>
          {% with percentage=project|clustering_percentage %}
            <div class="pe-5 col-2">
              <div class="progress"
                   role="progressbar"
                   aria-label=""
                   aria-valuenow="{{ percentage }}"
                   aria-valuemin="0"
                   aria-valuemax="100"
                   style="height: 30px">
                <div class="progress-bar bg-warning fs-6"
                     style="width: {{ percentage }}%">
                  {{ percentage }}%
                </div>
              </div>
            </div>
          {% endwith %}
        {% elif project.step == "plotting" %}
          <div class="col-1">
            Plotting
          </div>
          <div class="pe-5 col-2">
            Creating plot results
          </div>
        {% endif %}
        <form class="col-1 d-flex justify-content-xl-center gap-lg-1"
              method="POST">
          {% csrf_token %}

          <!-- Button trigger modal -->
          <div>
            <input type="hidden"
                   name="project_id"
                   value="{{ project.id }}" />
            <input type="hidden"
                   name="project_name"
                   value="{{ project.name }}" />
            <input type="hidden"
                   name="project_query"
                   value="{{ project.query }}" />
            {% if not project.id|check_shared_project %}
              <button type="submit"
                      name="submit"
                      value="delete"
                      class="btn btn-danger text-white">
                <i class="fa-regular fa-trash-can"></i>
              </button>
            {% endif %}
          </div>
        </form>
        <div class="collapse row align-items-start pt-4 mb-3 text-muted fs-6"
             id="collapse-step-finished-{{ forloop.counter }}">
          <div class="col-2">
            <div>
              <p>
                Created on
              </p>
              <p>
                {{ project.creation_date }}
              </p>
            </div>
          </div>
          <div class="col-2">
            <div>
              <p>
                Date range
              </p>
              <p>
                from: {{ project.range_begin_date }}
              </p>
              <p>
                to: {{ project.range_end_date }}
              </p>
            </div>
          </div>
          <div class="col-3">
            <div>
              <p>
                Sources
              </p>
              <p>
                {{ project.selected_indices.0|slice:":-6"|capfirst }}
              </p>

            </div>
          </div>
          <div class="col-3">
          </div>
          <div class="col-2">
            <div>
              {% if project.is_finish %}
                <p>
                  Best DBCV:
                </p>
                <p>
                  {{ project.best_dbcv |floatformat:"3" }}
                </p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <hr />
      </div>
    {% endfor %}

    <div class="row text-end">
      <form action=""
            method="POST">
        {% csrf_token %}
        <button type="submit"
                id="check-status"
                name="submit"
                value="reload"
                class="btn btn-md btn-primary">
          Check status
        </button>
      </form>
    </div>

  </div>

{% endblock content %}

{% block jscode %}
  <script>
    const root = document.querySelector(':root');
    root.setAttribute("style", "scroll-behavior: auto;");
    document.addEventListener("DOMContentLoaded", function(event) {
      var scrollpos = localStorage.getItem('scrollpos');
      if (scrollpos) window.scrollTo(0, scrollpos);
    });
    window.onbeforeunload = function(e) {
      localStorage.setItem('scrollpos', window.scrollY);
    };

    const updateButton = document.querySelector("#check-status");
    if (updateButton) {
      window.setInterval(() => {
        updateButton.click();
      }, 10000);
    }
  </script>
{% endblock jscode %}
