{% extends "base.html" %}

{% load static %}

{% load filtering_functions %}

{% block modal %}
  {% if delete_message %}
    <div class="div modal-backdrop fade show">
    </div>
    <form action=""
          method="POST">
      {% csrf_token %}
      <div class="modal fade show"
           style="display: block"
           id="deleteModal"
           tabindex="-1"
           aria-labelledby="deleteModal"
           aria-hidden="false">

        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5"
                  id="deleteModalLabel">
                Delete Project
              </h1>
              <button class="btn-close"
                      data-bs-dismiss="modal"
                      type='submit'
                      name='submit'
                      value='cancel'
                      aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <p>
                Are you sure you want to delete following project?
              </p>
              <div class="ms-5">
                Project: {{ project.name }}
              </div>
              <div class="ms-5">
                Total documents: {{ project.total_documents }}
              </div>
              <div class="ms-5">
                Creation date: {{ project.creation_date }}
              </div>
              <div class="ms-5 mb-3">
                Status:
                {% if project.is_finish %}
                  Finished
                {% else %}
                  Running
                {% endif %}
              </div>
              <p>
                This action cannot be undone. Delete this project will permanently remove it.
              </p>
            </div>
            <div class="modal-footer">
              <input type="hidden"
                     name="project_id"
                     value="{{ project.id }}" />
              <button class="btn btn-secondary"
                      type='submit'
                      name='submit'
                      value='cancel'
                      data-bs-dismiss="modal">
                Close
              </button>
              <button type="submit"
                      name="submit"
                      value="confirm_delete"
                      class="btn btn-danger">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  {% endif %}
{% endblock modal %}

{% block content %}
  <div class="d-flex flex-grow-1">
    <div class="container running-box px-4">
      <h2 class="text-center mb-4 pb-4">
        <i class="fa-solid fa-gears me-3"></i>
        Project status
      </h2>
      <div class="row align-items-center fs-5 mb-3 g-2 fw-bold">
        <div class="col-2">
          Project Name
        </div>
        <div class="col-2">
          Query
        </div>
        <div class="col-3">
          Status
        </div>
        <div class="col-3 text-center">
          Progress
        </div>
        <div class="text-center col-2">
          Actions
        </div>
      </div>
      <div class="row">
        <hr />
      </div>

      {% for project in projects %}
        <form action=""
              method="POST">
          {% csrf_token %}
          <div class="research-search-metadata row fs-5 g-2 mb-2">
            <div class="col-2 d-grid align-items-center"
                 style="cursor:pointer"
                 data-bs-toggle="collapse"
                 data-bs-target="#collapse-step-article-{{ forloop.counter }}">
              <div>
                <i class="fa-sharp fa-solid fa-chevron-right fa-sm"></i>
                {{ project.name }}
              </div>
            </div>
            <div class="col-2 d-grid align-items-center">
              {{ project.query }}
            </div>
            <div class="col-3 d-grid align-items-center">
              {{ project.step }}
            </div>
            {% if project.step == "getting_documents" %}
              <div class="col-1">
                {{ project|created_documents }}
              </div>
              {% with percentage=project|created_percentage %}
                <div class="pe-5 col-2">
                  <div class="progress"
                       role="progressbar"
                       aria-label=""
                       aria-valuenow="{{ percentage }}"
                       aria-valuemin="0"
                       aria-valuemax="100"
                       style="height: 30px">
                    <div class="progress-bar bg-success fs-6"
                         style="width: {{ percentage }}%">
                      {{ percentage }}%
                    </div>
                  </div>
                </div>
              {% endwith %}
            {% elif project.step == "preparing" %}
              <div class="col-1">
                {{ project|prepared_progress }}
              </div>
              {% with percentage=project|prepared_percentage %}
                <div class="pe-5 col-2">
                  <div class="progress"
                       role="progressbar"
                       aria-label=""
                       aria-valuenow="{{ percentage }}"
                       aria-valuemin="0"
                       aria-valuemax="100"
                       style="height: 30px">
                    <div class="progress-bar bg-warning fs-6"
                         style="width: {{ percentage }}%">
                      {{ percentage }}%
                    </div>
                  </div>
                </div>
              {% endwith %}

            {% elif project.step == "preprocessing" %}
              <div class="col-1">

              </div>
              <div class="pe-5 col-2">
                Creating n grams
              </div>
            {% elif project.step == "clustering" %}
              <div class="col-1">
                Trial: {{ project|clustering_progress }}

              </div>
              {% with percentage=project|clustering_percentage %}
                <div class="pe-5 col-2">
                  <div class="progress"
                       role="progressbar"
                       aria-label=""
                       aria-valuenow="{{ percentage }}"
                       aria-valuemin="0"
                       aria-valuemax="100"
                       style="height: 30px">
                    <div class="progress-bar bg-warning fs-6"
                         style="width: {{ percentage }}%">
                      {{ percentage }}%
                    </div>
                  </div>
                </div>
              {% endwith %}
            {% elif project.step == "plotting" %}
              <div class="col-1">
                Plotting
              </div>
              <div class="pe-5 col-2">
                Creating a plot results
              </div>

            {% elif project.is_finish %}
              <div class="col-1">
                To see results
              </div>
              <div class="pe-5 col-2 pt-2">
                <div class="col-1 text-center">
                  <a href="/previousgraph?project_id={{ project.pk }}">link</a>
                </div>
              </div>

            {% endif %}
            <!-- For future adding status -->
            <!-- <div class="text-center col-2">
                <i class="text-primary fs-3 fa-solid fa-gear"></i>
              </div> -->
            <div class="text-center col-2">
              <div class="row gap-2 gap-lg-1 justify-content-xl-center">
                <div class="col-sm-12 col-xxl-4">
                  <input type="hidden"
                         name="project_id"
                         value="{{ project.id }}" />
                  <button type="submit"
                          name="submit"
                          value="restart"
                          class="btn btn-secondary">
                    Restart
                  </button>
                </div>
                <!-- Button trigger modal -->
                {% if project.is_finish and project.id != 1 %}
                  <div class="ms-2 col-sm-12 col-xxl-4">
                    <button type="submit"
                            name="submit"
                            value="delete"
                            class="btn btn-danger text-white">
                      <i class="fa-regular fa-trash-can"></i>
                    </button>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </form>
        <div class="collapse row align-items-start pt-4 mb-3 text-muted fs-6"
             id="collapse-step-article-{{ forloop.counter }}">
          <div class="col-2">
            <div>
              <p>
                Created on
              </p>
              <p>
                {{ project.creation_date }}
              </p>
            </div>
          </div>
          <div class="col-2">
            <div>
              <p>
                Date range
              </p>
              <p>
                from: {{ project.range_begin_date }}
              </p>
              <p>
                to: {{ project.range_end_date }}
              </p>
            </div>
          </div>
          <div class="col-3">
            <div>
              <p>
                Initial total documents:
              </p>
              <p>
                {{ project.total_documents }}
              </p>
            </div>
          </div>
          <div class="col-3">
            <div>
              {% if project.is_finish %}
                <p>
                  Best DBCV:
                </p>
                <p>
                  {{ project.best_dbcv }}
                </p>
              {% endif %}
            </div>
          </div>
          <div class="col-2">
            <!-- slot -->
          </div>
        </div>
        <div class="row">
          <hr />
        </div>
      {% endfor %}

      <div class="mt-4 row justify-content-center justify-content-xl-end">
        <div class="col-12 col-md-10 col-xl-6">
          <div class="row justify-content-center justify-content-xl-end">
            <div class="col-12 d-flex justify-content-end gap-5">
              <form action=""
                    method="POST">
                {% csrf_token %}
                <button type="submit"
                        name="submit"
                        value="reload"
                        class="btn btn-md btn-primary">
                  Check status
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block jscode %}

  <script>
    // To modify scrolling through javascript
    // scrolling instantly
    const root = document.querySelector(':root');
    root.setAttribute("style", "scroll-behavior: auto;");
    // to store the scroll position
    document.addEventListener("DOMContentLoaded", function(event) {
            var scrollpos = localStorage.getItem('scrollpos');
            if (scrollpos) window.scrollTo(0, scrollpos);
        });

        window.onbeforeunload = function(e) {
            localStorage.setItem('scrollpos', window.scrollY);

        };
  </script>
{% endblock jscode %}
