{% extends "base.html" %}

{% load static %}

{% block modal %}
  <!-- modal -->
  {% if continue_message_box %}
    <div class="div modal-backdrop fade show">
    </div>
    <div class="modal fade show"
         style="display: block"
         data-bs-keyboard="false"
         tabindex="-1"
         aria-labelledby="staticBackdropLabel"
         aria-modal="true">
      <form action=""
            method="POST">
        {% csrf_token %}
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button class="btn-close"
                      type='submit'
                      name='submit'
                      value='cancel'
                      aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <ul class="list-group">
                {% if total_documents == 0 %}
                  <!-- Red alert for no articles -->
                  <li class="list-group-item mx-4 ps-4"
                      style="background-color: #FF8989">
                    There are no estimated articles for this query.
                    Please specify a different one.
                  </li>
                {% elif total_documents < 20 %}
                  <!-- Orange alert for less than 20 articles -->
                  <li class="list-group-item mx-4 ps-4"
                      style="background-color: #FFBE98">
                    The number of estimated documents is {{ total_documents }}.
                    This number is less than the minimum required (20) to proceed.
                    Please specify a different query.
                  </li>
                {% else %}
                  <!-- Green alert for acceptable number of articles -->
                  <li class="list-group-item mx-4 ps-4"
                      style="background-color: #D5F0C1">
                    The number of estimated articles is {{ total_documents }}.
                    Would you like to continue with this query?
                  </li>
                {% endif %}
                <li class="list-group-item mx-4 ps-4">
                  Project name : {{ project_name }}
                </li>
                <li class="list-group-item mx-4 ps-4">
                  Search : {{ query }}
                </li>
                <li class="list-group-item mx-4 ps-4">
                  From : {{ range_begin_date }}
                </li>
                <li class="list-group-item mx-4 ps-4">
                  To : {{ range_end_date }}
                </li>
              </ul>
            </div>
            <div class="modal-footer">
              <span> <!-- adds cursor 'not -allowed' when button is disabled -->
                <button class="btn btn-secondary"
                        type='submit'
                        name='submit'
                        value='cancel'>
                  Cancel
                </button>
              </span>
              <button class="btn btn-primary"
                      type='submit'
                      name='submit'
                      value='continue'
                      {% if number_articles < 20 %}
                        disabled
                      {% endif %}>
                Continue
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  {% endif %}
  <!-- ---- -->
{% endblock modal %}

{% block content %}
  <!-- help button -->
  <div class="dropup position-absolute bottom-0 end-0 rounded-circle m-5">
    <button type="button"
            class="btn btn-dark btn-lg dropdown-toggle hide-toggle rounded-pill"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            aria-haspopup="true">
      <i class="fa-solid fa-question"></i>
      <span class="visually-hidden">How to make a query?</span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item"
           href="#">Queries use the Boolean operators AND,
        OR and NOT.</a>
      </li>
      <li>
        <a class="dropdown-item"
           href="#">
        Example: water AND contamination NOT cholera</a>
      </li>
      <li>
        <a class="dropdown-item"
           href="#">Use quotes to combine two separate
        terms into one. </a>
      </li>
      <li>
        <a class="dropdown-item"
           href="#">
        Example: "water contamination" AND cholera</a>
      </li>
      <li>
        <a class="dropdown-item"
           href="#">Parenthesis can also be used to
        combine search terms.</a>
      </li>
      <li>
        <a class="dropdown-item"
           href="#">
        Example: ("water contamination" OR cholera) AND health</a>
      </li>
    </ul>
  </div>

  <!-- ----- -->
  <div class="d-flex flex-grow-1 justify-content-center">
    <div class="search-block col-xl-8 mx-auto">
      <form id="formResearch"
            class="px-5"
            action=''
            method='POST'
            enctype='multipart/form-data'>
        {% csrf_token %}
        <h1 class="text-center mb-4 text-dark">
          <i class="fa-solid fa-magnifying-glass me-2"></i>
          Project
        </h1>
        <div class="col-12 input-group">
          <span class="input-group-text d-none d-lg-block">
            Project Name
          </span>
          {{ search_form.project_name }}
        </div>
        <div class="accordion py-3"
             id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header"
                id="panelsStayOpen-headingOne">
              <button class="accordion-button text-center"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapseOne"
                      aria-expanded="true"
                      aria-controls="panelsStayOpen-collapseOne">
                Query
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne"
                 class="accordion-collapse collapse show"
                 aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-body row col-11 mx-auto py-3">
                <div class="row text-center mb-3">
                  <div class="col-12 input-group mb-3">
                    <span class="input-group-text d-none d-lg-block">
                      Query
                    </span>
                    {{ search_form.query }}
                  </div>
                  <div class="col-12 col-sm-6 col-md-12 col-lg-6 mb-2">
                    <div class="input-group">
                      <span class="bg-white input-group-text">From:</span>
                      {{ search_form.range_begin_date }}
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                    <div class="input-group col-6">
                      <span class="bg-white input-group-text">To:</span>
                      {{ search_form.range_end_date }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% if total_documents == 0 %}
          <div class="row text-center">
            <div class="alert alert-primary">
              <span> Zero documents.</span>
            </div>
          </div>
        {% elif total_documents > 0 %}
          <div class="row text-center">
            <div class="alert alert-primary">
              <span> {{ total_documents }} documents.</span>
            </div>
          </div>
        {% endif %}

        {% if project_created_message %}
          <div class="row text-center">
            <div class="alert alert-primary">
              <span> {{ project_created_message }} </span>
            </div>
          </div>
        {% endif %}

        <div class="row text-center">
          {% for error in errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
          {% for error in search_form.non_field_errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
          {% for field in search_form %}
            {% for error in field.errors %}
              <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
              </div>
            {% endfor %}
          {% endfor %}

        </div>

        <div class="row mt-3 mb-5 text-center">
          <div class="col-6">
            <span> <!-- adds cursor 'not -allowed' when button is disabled -->
              <button class="btn btn-outline-secondary"
                      type='submit'
                      name='submit'
                      value='evaluate'>
                Evaluate
              </button>
            </span>
          </div>
          <div class="col-6">
            <span> <!-- adds cursor 'not -allowed' when button is disabled -->
              <button class="btn btn-primary"
                      type='submit'
                      name="submit"
                      value="search">
                Create Project
              </button>
            </span>
          </div>
        </div>

      </form>
    </div>
  </div>
{% endblock content %}

{% block jscode %}
  <script>
  // Code for disabling buttons as described in issue 277

  // DomContentLoaded event makes sure to run only after document has rendered
  document.addEventListener("DOMContentLoaded", function() {

    // Select relevant DOM elements and store them in variables for easier access
    const projectNameInput = document.querySelector("input[name='name']");

    const uploadFilesButton = document.querySelector("button[data-bs-target='#staticBackdrop']");
    const removeFilesButton = document.querySelector("button[value='remove_uploaded']");

    const createProjectButton = document.querySelector("button[value='research']");
    const evaluateButton = document.querySelector("button[value='evaluate']");

    const modalCancelButton = document.querySelector(".modal-footer button[value='cancel']");
    const modalCloseButton = document.querySelector(".modal-header button[value='cancel']");
    const modalContinueButton = document.querySelector("button[value='continue']");

    // Creates a spinner with an optional custom message argument
    function makeSpinnerHTML(message = "") {
      return (`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> ${message}`);
    };

    // Attach event handlers
    evaluateButton.addEventListener('click', handleEvaluateButtonClick);
    createProjectButton.addEventListener('click', handleCreateProjectButtonClick);

    // the Continue button should be checked since the modal is conditionally rendered
    // only when the context variable AreYouSure is True we can add event listeners
    //  to those elements in the modal
    if (modalContinueButton){
      modalContinueButton.addEventListener('click', handleContinueButtonClick);
    }

    // it handles clicks on 'Evaluate' button
    function handleEvaluateButtonClick() {
      const evaluateSpinner = makeSpinnerHTML("Evaluating...");
      handleButtonClick(evaluateButton, createProjectButton, evaluateSpinner);
    }

    // it handles clicks on 'Create Project' button
    function handleCreateProjectButtonClick() {
      const createProjectSpinner = makeSpinnerHTML("Creating...");
      handleButtonClick(createProjectButton, evaluateButton, createProjectSpinner);
    }

    // handles clicks on 'Continue' button in the modal
    function handleContinueButtonClick() {
      const continueSpinner = makeSpinnerHTML("Starting...");
      handleButtonClick(modalContinueButton, modalCancelButton, continueSpinner, function (){
        // disable modal close  button
        modalCloseButton.classList.add("disabled");
        modalCloseButton.style.pointerEvents = "none";
      });
    }

    // This function handles button clicks and allows for custom behavior through a callback function.
    function handleButtonClick(clickedButton, otherButton, spinnerHtml, callback) {
      // Check if project has a name
      if (projectNameInput.value) {
        // Disable clicked button
        clickedButton.style.pointerEvents = "none"; // deactivate clicks
        clickedButton.classList.add("disabled"); // add disabled bootstrap class
        clickedButton.innerHTML = spinnerHtml;  // add spinner

        // Disable opposite button
        otherButton.style.pointerEvents = "none";
        otherButton.classList.add("disabled");
        otherButton.parentElement.style.cursor = "not-allowed"; // add cursor effect to span parent

        // Disable upload file buttons
        uploadFilesButton.style.pointerEvents = "none";
        uploadFilesButton.classList.add("disabled");
        removeFilesButton.style.pointerEvents = "none";
        removeFilesButton.classList.add("disabled");

        // Execute a custom callback if a function is given
        if (typeof callback === 'function') {
          callback(); // executes custom behavior or side effects
        }
      }
    }

  });
  </script>
  <script>
  const importButton = document.querySelector("#import-button");
  const filesForm = document.querySelector("#id_file_field");
  const filesUploadedNames = document.querySelector(".uploaded-files");
  importButton.addEventListener("click", () => {
    while (filesUploadedNames.firstChild) {
      filesUploadedNames.removeChild(filesUploadedNames.lastChild);
    }
    const filesCount = filesForm.files.length;

    const filesCountElement = document.createElement("h5");
    filesCountElement.classList.add("card-title", "ms-3", "mb-3");
    filesCountElement.textContent = filesCount + " Files";
    filesUploadedNames.appendChild(filesCountElement)

    const listContainer = document.createElement("ul");
    listContainer.classList.add("list-group");

    for(file of filesForm.files){
      let p = document.createElement("li");
      p.classList.add("list-group-item","ms-5");
      p.textContent = file.name;
      listContainer.appendChild(p)
    }

    filesUploadedNames.appendChild(listContainer);
    checkSearchBox();

  })
  </script>
  <script type="text/javascript">

  // Code for the date picker
  $(function () {
    $('#id_From').datepicker({
      format: "yyyy-mm-dd"
    });
  });
  $(function () {
    $('#id_To').datepicker({
      format: "yyyy-mm-dd",
    });
  });

  document.querySelectorAll('input[id^="id_pre"]').forEach(element => {
    element.classList.add("form-check-input");
    });
  document.querySelectorAll('label[for^="id_pre"]').forEach(e => {
    e.classList.add("form-check-label");
  })

  document.querySelectorAll('input[id^="id_open"]').forEach(element => {
    element.classList.add("form-check-input");
    });

  document.querySelectorAll('label[for^="id_open"]').forEach(e => {
    e.classList.add("form-check-label");
  })

  const preprint = document.querySelector("#check-preprint");
  const preprintDBs = document.querySelectorAll('input[id^="id_preprint"]');

  const openaccess = document.querySelector("#check-open-access");
  const openaccessDBs = document.querySelectorAll('input[id^="id_open"]');

  const searchBox = document.querySelector("#id_search");

  function checkSources() {
    for(source of preprintDBs){
      if (source.checked){
        return true
      }
    }
    for(source of openaccessDBs){
      if(source.checked){
        return true
      }
    }
    return false
  }

  function checkFileSources(){
    if(filesUploadedNames.childNodes.length > 1){
      return true
    }
    return false
  }

  function checkSearchBox() {
    if(checkFileSources() || checkSources()){
      searchBox.disabled = false;
    }
    else {
      searchBox.disabled = true;
    }
  }
  checkSearchBox();

  for (dataBaseCheck of preprintDBs) {
    if (!dataBaseCheck.checked){
      preprint.checked = false;
      break;
    }
  }

  preprint.addEventListener("click", (e)=>{
    if (e.target.checked){
      for(dataBaseCheck of preprintDBs){
        dataBaseCheck.checked = true;
      }
    }
    else {
      for(dataBaseCheck of preprintDBs){
        dataBaseCheck.checked = false;
      }
    }
    checkSearchBox();
  })

  preprintDBs.forEach((dataBase) => {
    dataBase.addEventListener("click", () => {
      checkSearchBox();
      for(dataBaseCheck of preprintDBs){
        if (dataBaseCheck.checked == false){
          preprint.checked = false;
          return
        }
      }
      preprint.checked = true;

    })
  })

  for (dataBaseCheck of openaccessDBs) {
    if (!dataBaseCheck.checked){
      openaccess.checked = false;
      break;
    }
  }

  openaccess.addEventListener("click", (e)=>{
    if (e.target.checked){
      for(dataBaseCheck of openaccessDBs){
        dataBaseCheck.checked = true;
      }
    }
    else {
      for(dataBaseCheck of openaccessDBs){
        dataBaseCheck.checked = false;
      }
    }
    checkSearchBox()
  })

  openaccessDBs.forEach((dataBase) => {
    dataBase.addEventListener("click", () => {
      checkSearchBox()
      for(dataBaseCheck of openaccessDBs){
        if (dataBaseCheck.checked == false){
          openaccess.checked = false;
          return
        }
      }
      openaccess.checked = true
    })
  })
  </script>

  {% if deactivate_all_collectors %}
    <script>
    // disable dates input, searchbox, and checkbox if no sources are available
  function disableCollectors() {
    const preprint = document.querySelector("#check-preprint");
    const preprintDBs = document.querySelectorAll('input[id^="id_preprint"]');
    const openaccess = document.querySelector("#check-open-access");
    const openaccessDBs = document.querySelectorAll('input[id^="id_open"]');
    // const toDateInput = document.querySelector("#id_To");
    // const fromDateInput = document.querySelector("#id_From");
    const uploadFilesAccordion = document.querySelector("#panelsFile-collapseOne")

    const dbSourcesDiv = document.querySelectorAll(".col-6.text-start.py-2");
    const searchAndDateDiv = document.querySelector(".row.text-center.mb-3");


    // hide sources and query fields
    dbSourcesDiv.forEach(div => div.classList.add("d-none"));
    searchAndDateDiv.classList.add("d-none");

    // open Upload files accordion
    uploadFilesAccordion.classList.add("show");

    // deactivate searchBox
    searchBox.disabled = true;
    searchBox.classList.add("d-none")

    // deactivate preprint sources
    preprint.disabled = true;
    preprint.checked = false;
    preprintDBs.forEach((dataBase) => {
      dataBase.disabled = true;
      dataBase.checked = false;
    })
    
    // deactivate openaccess sources
    openaccess.disabled = true;
    openaccess.checked = false;
    openaccessDBs.forEach((dataBase) => {
      dataBase.disabled = true;
      dataBase.checked = false;
    })


    
  }

  disableCollectors();
    </script>
  {% endif %}

{% endblock jscode %}
