{% extends "base.html" %}

{% load static %}

{% block modal %}

  {% include "components/continue_message.html" %}

{% endblock modal %}

{% block sidebar %}

  {% include "components/sidebar.html" %}

{% endblock sidebar %}

{% block content %}
  <div class="container d-flex flex-grow-1 py-4 mt-4 justify-content-center">
    <div class="search-block col-xl-8 mx-auto">

      <form id="formResearch"
            action=""
            method="POST"
            enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="text-center mb-4 text-dark">
          <i class="fa-solid fa-magnifying-glass me-3"></i> Project
        </h1>

        <!-- Project Name -->
        <div class="row mb-4">
          <div class="col-12">
            <div class="input-group">
              <span class="input-group-text">Project Name</span>
              {{ search_form.project_name }}
            </div>
          </div>
        </div>

        <!-- Accordion for Sources and Query -->
        <div class="accordion py-3"
             id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header"
                id="panelsStayOpen-headingOne">
              <button class="accordion-button text-center"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapseOne"
                      aria-expanded="true"
                      aria-controls="panelsStayOpen-collapseOne">
                Source and Search Terms
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne"
                 class="accordion-collapse collapse show"
                 aria-labelledby="panelsStayOpen-headingOne">

              <div class="accordion-body row col-11 mx-auto py-3">
                <div class="col-6 text-start py-2">
                  <div class="col-md-6">
                    <h6>
                      <i class="bi bi-database me-2"></i> Select Source
                    </h6>
                  </div>

                  <div class="form-check ps-sm-5 text-start">
                    <input class="form-check-input"
                           type="radio"
                           name="index_names"
                           value="administrative_court"
                           id="adminCourtRadio"
                           {% if search_form.data.index_names == "administrative_court" %}
                             checked
                           {% endif %} />
                    <label class="form-check-label"
                           for="adminCourtRadio">
                      Administrative Court
                    </label>
                  </div>

                  <div class="form-check ps-sm-5 text-start">
                    <input class="form-check-input"
                           type="radio"
                           name="index_names"
                           value="civil_court"
                           id="civilCourtRadio"
                           {% if search_form.data.index_names == "civil_court" %}
                             checked
                           {% endif %} />
                    <label class="form-check-label"
                           for="civilCourtRadio">
                      Civil Court
                    </label>
                  </div>

                  <div class="form-check ps-sm-5 text-start">
                    <input class="form-check-input"
                           type="radio"
                           name="index_names"
                           value="penal_court"
                           id="penalCourtRadio"
                           {% if search_form.data.index_names == "penal_court" %}
                             checked
                           {% endif %} />
                    <label class="form-check-label"
                           for="penalCourtRadio">
                      Penal Court
                    </label>
                  </div>
                </div>

                <!-- Natural Language Query -->
                <div class="row mt-3 justify-content-center">
                  <div class="col-md-12">
                    <label for="naturalLanguageQuery">
                      Natural Language Query
                    </label>
                    <div class="input-group">
                      {{ search_form.natural_language_query }}
                    </div>
                  </div>
                </div>
                <div class="row mt-3 justify-content-center">
                  <div class="col-5 mb-2 m-2 me-2 justify-content-center">
                    <button type="button"
                            class="btn btn-primary w-100 mt-2"
                            id="translate-button">
                      <i class="bi bi-gear-fill me-2"></i> Build Boolean Query
                    </button>
                  </div>
                </div>

                <!-- Boolean Query -->
                <div class="row mt-3 justify-content-center">
                  <div class="col-12">
                    <label for="booleanQuery">
                      Boolean Query
                    </label>
                    <div class="input-group">
                      {{ search_form.query }}
                    </div>
                  </div>
                </div>

                <!-- Date Range -->
                <div class="row mt-4 justify-content-center">
                  <div class="col-md-5">
                    <label for="rangeBeginDate">
                      Decision Date From
                    </label>
                    <input type="text"
                           class="form-control datepicker"
                           id="rangeBeginDate"
                           name="range_begin_date"
                           value="{{ search_form.data.range_begin_date|default:'' }}"
                           placeholder="YYYY-MM-DD" />
                  </div>
                  <div class="col-md-2">
                  </div>
                  <div class="col-md-5">
                    <label for="rangeEndDate">
                      Decision Date To
                    </label>
                    <input type="text"
                           class="form-control datepicker"
                           id="rangeEndDate"
                           name="range_end_date"
                           value="{{ search_form.data.range_end_date|default:'' }}"
                           placeholder="YYYY-MM-DD" />
                  </div>
                </div>
              </div>

            </div>

          </div>
          <div class="row mt-2 justify-content-center">
            <div class="col-md-12">

              {% include "components/documents_display_search.html" %}

            </div>
          </div>
        </div>

        <!-- Action Buttons -->
        <div class="row mt-4 g-3 justify-content-center">
          <div class="col-3">
            <button class="btn btn-outline-secondary w-100"
                    type="submit"
                    name="submit"
                    value="evaluate">
              <i class="bi bi-clipboard-check me-2"></i> Evaluate
            </button>
          </div>
          <div class="col-3">
            <button class="btn btn-primary w-100"
                    type="submit"
                    name="submit"
                    value="search">
              <i class="bi bi-folder-plus me-2"></i> Create Project
            </button>
          </div>
        </div>

        {% include "components/help_button.html" %}

      </form>
    </div>
  </div>

{% endblock content %}

{% block jscode %}
  <script src="{% static 'js/search_functions.js' %}"></script>

  <script>
      $(document).ready(function () {
        $('.datepicker').datepicker({
          format: 'yyyy-mm-dd',
          autoclose: true,
          todayHighlight: true
        });
      });
  </script>

{% endblock jscode %}
