{% extends "base.html" %}

{% load static %}

{% load filtering_functions %}

{% block sidebar %}

  {% include "components/sidebar.html" %}

{% endblock sidebar %}

{% block content %}
  <div class="container justify-content-center">
    <div class="col-sm-12 col-md-12 col-xl-11 mx-auto">
      <div class="container py-8"
           style="padding-top: 125px">
        <h1 class="text-center col-12 mb-5">
          <i class="fa-regular fa-rectangle-list me-3"></i>
          Results Table
        </h1>
        {% if iterations_limit_exceeded %}
          <div class="row text-center">
            <div class="alert alert-warning">
              <span> You have reached the limit of iterations.</span>
            </div>
          </div>
        {% endif %}
        <div class="container">

          <div class="row">
            <div class="mx-auto col-lg-8 col-md-12 col-sm-12">
              <hr />
              <div class="fw-bold fs-3">
                Details
              </div>
              <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">
                      Project name
                    </th>
                    <td>
                      {{ project.name }}
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Creation date
                    </th>
                    <td>
                      {{ project.creation_date }}
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Query
                    </th>
                    <td>
                      {{ project.query }}
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Range date project
                    </th>
                    <td>
                      <div>
                        From: {{ project.range_begin_date }}
                      </div>
                      <div>
                        To: {{ project.range_end_date }}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Number of Documents
                    </th>
                    <td class="align-middle">
                      {{ project | count_processed_documents }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
        <form class="row mt-4"
              id="frmArticles"
              action=""
              method="POST">
          {% csrf_token %}
          <div class="row col-12">
            <div class="fs-5 mx-auto col-lg-8 col-md-12 col-sm-12">
              <div class="p-4 bg-light">
                <div class="row text-center mb-4 mt-3">
                  <div class="col-12">
                    Initial documents number in Refinement: <span class="fw-bold">{{ number_Article_initial }}</span>
                  </div>
                </div>
                <div class="row ps-3 mb-4">
                  {% if union_sets_str or excluded_set_str %}
                    <div class="col-12 mb-3">
                      <table class="table">
                        <tbody>
                          {% if union_sets_str %}
                            <tr>
                              <th scope="row">
                                Refinement criteria
                              </th>
                              <td>
                                {{ union_sets_str|safe }}
                              </td>
                            </tr>
                          {% endif %}
                          {% if excluded_set_str %}
                            <tr>
                              <th scope="row">
                                Excluded set
                              </th>
                              <td>
                                {{ excluded_set_str|safe }}
                              </td>
                            </tr>
                          {% endif %}
                        </tbody>
                      </table>
                    </div>
                  {% endif %}
                  <div class="col">
                    k neighbour: <span class="fw-bold">10</span>
                  </div>
                  <div class="col">
                    New documents: <span class="fw-bold">{{ number_Article_neighbour }}</span>
                  </div>
                </div>
                <div class="ps-3 row mb-4">
                  <div class="col">
                    Document checked: <span class="article-counter fw-bold">{{ number_Article_chosen }}</span>
                  </div>
                  <div class="col">
                    <button type="button"
                            class="all-yes-button btn btn-outline-dark col-8 mb-3">
                      Check All to Yes
                    </button>
                    <button type="button"
                            class="all-maybe-button btn btn-outline-dark col-8">
                      Check All to Maybe
                    </button>
                  </div>
                </div>
              </div>
              <div class="mx-auto">
                <div class="row justify-content-center mt-3 gap-md-3 gap-sm-2 gap-lg-3">
                  <button type="submit"
                          name="submit"
                          value="iterate"
                          class="col-md-2 col-sm-12 btn btn-secondary mb-2">
                    Iterate
                  </button>
                  <button type="submit"
                          name="submit"
                          value="reset"
                          class="col-md-2 col-sm-12 btn btn-secondary mb-2"
                          data-bs-toggle="tooltip"
                          data-bs-placement="bottom"
                          data-bs-title="Loads first iteration and removes iteration childs">
                    Reset Iterations
                  </button>
                  <button type="submit"
                          name="submit"
                          value="finish"
                          class="col-md-2 col-sm-12 btn btn-primary mb-2">
                    Export Selected
                  </button>
                  {% if project_id %}
                    <button type="button"
                            id="btnRAG"
                            onclick="updateFormDataAndOpenPageRAG();"
                            value="rag"
                            class="col-md-2 col-sm-12 btn btn-primary mb-2"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-bs-title="Ask questions to selected documents">
                      Ask Selected
                    </button>
                  {% endif %}
                </div>
              </div>
              <hr class="mb-5" />
            </div>
            {% if not processing_filters %}
              <div class="container">
                {% for iteration in iterations %}
                  <div class="btn-group"
                       role="group"
                       aria-label="Iterations">
                    {% if iteration.is_active %}
                      <button type="button"
                              class="btn btn-secondary mb-3">
                        Current: {{ iteration.name }}
                      </button>
                    {% else %}
                      <button type="submit"
                              name="get-iteration"
                              value="{{ iteration.id }}"
                              class="btn mb-3 btn-outline-secondary">
                        {{ iteration.name }}
                      </button>
                    {% endif %}
                    {% if iteration.is_parent is False and iteration.is_root is False %}
                      <button type="submit"
                              name="remove-iteration"
                              value="{{ iteration.id }}"
                              class="me-3 mb-3 btn btn-outline-danger">
                        X
                      </button>
                    {% endif %}
                  </div>
                  {% if iteration.is_parent %}
                    <span class="fs-3 text-secondary"><i class="fa-solid fa-chevron-right"></i></span>
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}
          </div>
          {% if processing_filters %}
            <div class="mt-5 d-flex justify-content-center">
              <div class="spinner-border text-primary"
                   role="status">
                <span class="visually-hidden">Processing new results...</span>
              </div>
              <span class="ms-3 fs-4 text-secondary">Processing new results ...</span>
            </div>
          {% else %}
            <div class="container text-center mt-4">
              <div class="row justify-content-center">
                <div class="col-3 d-flex align-items-center">
                  <div class="d-flex align-items-center">
                    <label for="update_order_by"
                           class="form-label me-2 mb-0">
                      <b>Sort by:</b>
                    </label>
                    <select name="update_order_by"
                            id="update_order_by"
                            class="form-select"
                            aria-label="Select order">
                      {% if has_es_scores %}
                        <option value="-es_score"
                                {% if sort_by == "-es_score" %}
                                  selected
                                {% endif %}>
                          Query relevance score
                        </option>
                      {% endif %}
                      <option value="decision_date"
                              {% if sort_by == "decision_date" %}
                                selected
                              {% endif %}>
                        Decision Date (Ascending)
                      </option>
                      <option value="-decision_date"
                              {% if sort_by == "-decision_date" %}
                                selected
                              {% endif %}>
                        Decision Date (Descending)
                      </option>
                    </select>

                  </div>
                  <button type="submit"
                          name="submit"
                          id="apply_order_button"
                          value="update_order"
                          class="btn btn-primary mt-2"
                          hidden>
                    Apply Order
                  </button>
                </div>
                <div class="col-9 text-end">
                  page: <span class="fw-bold">{{ current_page }}/{{ total_page }}</span>
                </div>
              </div>
            </div>
            <div class="col-12 mb-3 mx-auto mt-4">
              {% if not processing_filters %}
                <div class="d-flex justify-content-between">
                  <div class="col-4 text-start">
                    {% if not first_page %}
                      <input class="btn btn-outline-dark"
                             type="submit"
                             name="submit"
                             value="previous" />
                    {% endif %}
                  </div>
                  <div class="col-4 mb-2 text-end">
                    {% if not last_page %}
                      <input class="btn btn-outline-dark"
                             type="submit"
                             name="submit"
                             value="next" />
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            </div>
            <div class="container">
              <hr />
              <div class="row">
                {% for tablechoice in tablechoice_list %}
                  <div class="col-2 mb-2 d-grid justify-content-center">
                    <div class="checkbox-group fs-3 gap-3">

                      <div class="form-check">
                        <input class="form-check-input"
                               type="checkbox"
                               id="yes-{{ tablechoice.id }}"
                               name="yes_row"
                               value="{{ tablechoice.id }}"
                               autocomplete="off"
                               {% if tablechoice.is_check == True %}
                                 checked
                               {% endif %} />
                        <label class="form-check-label"
                               for="yes-{{ tablechoice.id }}">
                          <i class="fa-solid fa-check"></i>
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input"
                               type="checkbox"
                               id="maybe-{{ tablechoice.id }}"
                               name="maybe_row"
                               value="{{ tablechoice.id }}"
                               {% if tablechoice.is_check == None %}
                                 checked
                               {% endif %} />
                        <label class="form-check-label"
                               for="maybe-{{ tablechoice.id }}">
                          <i class="fa-solid fa-question"></i>
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input"
                               type="checkbox"
                               id="no-{{ tablechoice.id }}"
                               name="no_row"
                               value="{{ tablechoice.id }}"
                               {% if tablechoice.is_check == False %}
                                 checked
                               {% endif %} />
                        <label class="form-check-label"
                               for="no-{{ tablechoice.id }}">
                          <i class="fa-solid fa-xmark"></i>
                        </label>
                      </div>
                    </div>

                  </div>
                  <div class="col-10">
                    <div class="d-flex
                                {% if has_es_scores %}
                                  justify-content-between
                                {% else %}
                                  justify-content-end
                                {% endif %}">
                      {% if has_es_scores %}
                        <div class="fs-5 align-self-center">
                          <span class="badge bg-score-query text-dark">Query relevance score: {{ tablechoice.es_score | floatformat:"2" }} </span>
                        </div>
                      {% endif %}
                      {% if tablechoice.is_initial == False %}
                        <div class="fs-5 align-self-center">
                          <span class="badge text-bg-dark"><i class="fa-solid fa-file-circle-plus me-2"></i> New neighbor document</span>
                        </div>
                      {% endif %}

                      <h3>
                        <span class="badge text-bg-dark">
                          <a class="text-white"
                             href="{% url 'contentdocument' document_id=tablechoice.document_pk %}">{{ tablechoice.procedure_type }}</a>
                        </span>
                      </h3>
                    </div>
                    <div class="ms-auto mt-3 text-start mb-3">
                      <div>
                        <b>{{ tablechoice.decision_type }}</b>, du {{ tablechoice.decision_date }}
                        <b>Result:</b> {{ tablechoice.result }}
                      </div>
                    </div>
                    <div class="mb-3 ms-auto">
                      <div>
                        <b>Normes:</b> {{ tablechoice.standards }}
                      </div>
                    </div>
                    <div class="mb-3 ms-auto">
                      <div>
                        <b>Extraits:</b> {{ tablechoice.sample_document | safe }} ...
                      </div>
                    </div>
                  </div>
                  {% if hdbscan_scores %}
                    <div class="col-2">
                    </div>
                    <div class="col-10 text-center fs-5 mb-3">
                      <span class="badge text-dark"
                            style="background-color: {{ tablechoice.color }}80"> {{ tablechoice.topic }}</span>
                      <span class="badge bg-light text-dark"> Topic score : {{ tablechoice.hdbscan_score | floatformat:"1" }} %</span>
                    </div>
                  {% endif %}
                  <hr />
                {% endfor %}
              </div>
            </div>
            <div class="col-12 mb-3 mx-auto mt-4">
              {% if not processing_filters %}
                <div class="d-flex justify-content-between">
                  <div class="col-4 text-start">
                    {% if not first_page %}
                      <input class="btn btn-outline-dark"
                             type="submit"
                             name="submit"
                             value="previous" />
                    {% endif %}
                  </div>

                  <div class="col-4 mb-2 text-end">
                    {% if not last_page %}
                      <input class="btn btn-outline-dark"
                             type="submit"
                             name="submit"
                             value="next" />
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            </div>
            <div class="col-12">
              <div class="col-4 mx-auto text-center mb-4">
                page:
                <span class="fw-bold">{{ current_page }}/{{ total_page }}</span>
              </div>
            </div>
            <div class="col-10 mx-auto">
              <div class="p-4 bg-light">
                <div class="row text-center">
                  <div class="col">
                    Documents checked: <span class="article-counter-bottom fw-bold">{{ number_Article_chosen }}</span>
                  </div>
                  <div class="col">
                    <button type="button"
                            class="all-yes-button btn btn-outline-dark col-8 mb-3">
                      Check All to Yes
                    </button>
                    <button type="button"
                            class="all-maybe-button btn btn-outline-dark col-8">
                      Check All to Maybe
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-8 mx-auto mb-5">
              <div class="row justify-content-center mt-3 gap-md-3 gap-sm-2 gap-lg-5">
                <button type="submit"
                        name="submit"
                        value="iterate"
                        class="col-md-3 col-sm-12 btn btn-secondary mb-2 btn-lg">
                  Iterate
                </button>
                <button type="submit"
                        name="submit"
                        value="reset"
                        class="col-md-3 col-sm-12 btn btn-secondary mb-2 btn-lg">
                  Reset
                </button>
                <button type="submit"
                        name="submit"
                        value="finish"
                        class="col-md-3 col-sm-12 btn btn-primary mb-2 btn-lg"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        data-bs-title="Export checked (Yes) documents to csv file">
                  Export Selected
                </button>
              </div>
            </div>
            <hr class="mb-5" />
          {% endif %}
        </form>
      </div>
    </div>
  </div>
{% endblock content %}

{% block jscode %}
  <script>
    let initialCheckedYes = 0;
  </script>
  <script src="{% static 'js/select_functions.js' %}"></script>
  <script src="{% static 'js/checkbox_counter.js' %}"></script>
  {% if not processing_filters %}
    <script>
    async function updateFormDataAndOpenPageRAG() {
      let yesDocuments = [];
      let noDocuments = [];
      let maybeDocuments = []

      document.querySelectorAll('input[name="yes_row"]').forEach((checkbox) => {
        const documentId = parseInt(checkbox.value, 10);
        if (checkbox.checked == true) {
          yesDocuments.push(documentId);
          }
        }
      );
      document.querySelectorAll('input[name="no_row"]').forEach((checkbox) => {
        const documentId = parseInt(checkbox.value, 10);
        if (checkbox.checked == true) {
          noDocuments.push(documentId);
          }
        }
      );
      document.querySelectorAll('input[name="maybe_row"]').forEach((checkbox) => {
        const documentId = parseInt(checkbox.value, 10);
        if (checkbox.checked == true) {
          maybeDocuments.push(documentId);
          }
        }
      );

      const data = {
        selected_documents: yesDocuments,
        deselected_documents: noDocuments,
        maybe_documents: maybeDocuments,
      };

      const endpointUrl = "{% url 'update-table-choice' project_id=project_id page=current_page iteration_id=iteration_id %}";

      try {
          const response = await axios.put(endpointUrl, data, {
              headers: {
                  "X-CSRFToken": "{{ csrf_token }}",
                  "Content-Type": "application/json",
              },
          });

          if (response.status === 200 || response.status === 204) {
              openPageRAG();
          } else {
              console.error("Failed to update data before redirecting to RAG page.");
          }
      } catch (error) {
          console.error("Error updating table choice:", error.response || error.message);
      }
    }

    function openPageRAG() {
      const url = "{% url 'project-rag-page' project_id=project_id %}";
      window.location.href = url;
    }
    </script>
  {% endif %}
  {% if processing_filters %}
    <script>
    setTimeout(function(){
        location.reload();
    }, 1300);
    </script>
  {% endif %}
  <script>
    document.addEventListener("DOMContentLoaded", () => {
        if (performance.navigation.type === performance.navigation.TYPE_BACK_FORWARD) {
          window.location.reload();
        }
        const selectOrderBy = document.getElementById('update_order_by');
        const applyOrderButton = document.getElementById('apply_order_button');

        // Update dropdown value dynamically based on `sort_by`
        const currentSortBy = "{{ sort_by|default:'' }}";
        if (selectOrderBy) {
            [...selectOrderBy.options].forEach(option => {
                if (option.value === currentSortBy) {
                    option.selected = true;
                }
            });
        }
        // Handle dropdown change
        selectOrderBy.addEventListener('change', () => {
            console.log('Order selected:', selectOrderBy.value);
            applyOrderButton.click();
        });
    });
  </script>

  <script>
    // To handle unique selection in 'yes', 'maybe', 'no' options
    initialCheckedYes = countYesChecked();

    const checkInputs = document.querySelectorAll(".form-check-input");
    checkInputs.forEach((checkbox) => {
      checkbox.addEventListener("click", (e) =>{

        targetCodeId = e.target.getAttribute('id');
        // get child
        const parent = e.target.parentElement.parentElement
        isTargetChecked = e.target.checked;

        const childsElements = parent.querySelectorAll(".form-check-input")
        childsElements.forEach((checkbox) => {

          if(isTargetChecked){
            if(targetCodeId!=checkbox.getAttribute('id')){
              checkbox.checked=false;
            }
          }
          else {
            if(targetCodeId==checkbox.getAttribute('id')){
              checkbox.checked=true;
            }
          }
        })
        let new_total_checked = countYesChecked();

        let counter = document.querySelector(".article-counter");
        let counterBottom = document.querySelector(".article-counter-bottom");
        let previousValue = parseInt(counter.textContent);
        counter.textContent = previousValue - initialCheckedYes + new_total_checked;
        counterBottom.textContent = previousValue - initialCheckedYes + new_total_checked;

        // storing the value of actual checked docs
        initialCheckedYes = new_total_checked
      })
    })
  </script>
  <script>
    // Enable tooltips
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  </script>
{% endblock jscode %}
