{% extends "base.html" %}

{% load static %}

{% load filtering_functions %}

{% block content %}
  <div class="d-flex flex-column flex-grow-1">
    <div class="container mt-4">
      <h2 class="text-center mb-4">
        <i class="fa-solid fa-table me-2"></i>Results Table
      </h2>
      <form class="row"
            action=""
            method="POST">
        {% csrf_token %}
        <div class="row col-12 mb-4">
          <div class="fs-5 col-10 mx-auto">
            <div class="p-4 bg-light">
              <div class="row text-center mb-4 mt-3">
                <div class="col-12">
                  Initial documents number: <span class="fw-bold">{{ number_Article_initial }}</span>
                </div>
              </div>
              <div class="row ps-3 mb-4">
                <div class="col">
                  k neighbour: <span class="fw-bold">10</span>
                </div>
                <div class="col">
                  New documents: <span class="fw-bold">{{ number_Article_neighbour }}</span>
                </div>
              </div>
              <div class="ps-3 row mb-4">
                <div class="col">
                  Document checked: <span class="article-counter fw-bold">{{ number_Article_chosen }}</span>
                </div>
                <div class="col">
                  Check/Uncheck all
                  <input class="form-check-input ms-3"
                         type="checkbox"
                         onclick="toggle(this)" />
                </div>
              </div>
            </div>
            <div class="col-10 mx-auto">
              <div class="row justify-content-center mt-3 gap-md-3 gap-sm-2 gap-lg-5">
                <button type="submit"
                        name="submit"
                        value="iterate"
                        class="col-md-2 col-sm-12 btn btn-secondary mb-2">
                  Iterate
                </button>
                <button type="submit"
                        name="submit"
                        value="reset"
                        class="col-md-2 col-sm-12 btn btn-secondary mb-2">
                  Reset
                </button>
                <button type="submit"
                        name="submit"
                        value="finish"
                        class="col-md-2 col-sm-12 btn btn-primary mb-2">
                  Export Selected
                </button>
              </div>
            </div>
            <hr class="mb-5" />
          </div>
          <div class="col-12 mb-3 mx-auto mt-2">

            <div class="d-flex justify-content-between">
              {% if not first_page %}
                <div class="col-4 text-start">
                  <input class="btn btn-outline-dark"
                         type="submit"
                         name="submit"
                         value="previous" />
                </div>
              {% endif %}

            </div>
          </div>
        </div>

        <div id="select_ordered_table"
             class="container text-center mt-4">
          <div class="row justify-content-center">

            <div class="col-3 d-flex align-items-center">
              <form id="tableSelectForm"
                    action=""
                    method="POST">
                {% csrf_token %}

                <div class="d-flex align-items-center">
                  <label for="order_by"
                         class="form-label me-2 mb-0">
                    <b>Sort:</b>
                  </label>
                  <select name="order_by"
                          id="order_by"
                          class="form-select"
                          aria-label="Select order">
                    <option value="decision_date"
                            {% if request.GET.order_by == "decision_date" or request.POST.order_by == "decision_date" %}
                              selected
                            {% endif %}>
                      Decision Date (Ascending)
                    </option>
                    <option value="-decision_date"
                            {% if request.GET.order_by == "-decision_date" or request.POST.order_by == "-decision_date" %}
                              selected
                            {% endif %}>
                      Decision Date (Descending)
                    </option>
                  </select>
                </div>

                <button type="submit"
                        name="submit"
                        id="apply_order_button"
                        class="btn btn-primary mt-2"
                        hidden>
                  Apply Order
                </button>
              </form>
            </div>

            <div class="col-9 text-end">
              page: <span class="fw-bold">{{ current_page }}/{{ total_page }}</span>
            </div>

          </div>
        </div>

        <div class="container">
          <hr />
          <div class="row">
            {% for tablechoice in tablechoice_list %}
              <div class="col-1 mb-2 d-grid justify-content-center">
                <input style="width: 30px;
                              height: 30px"
                       type="checkbox"
                       id="{{ tablechoice.id }}"
                       name="check_row"
                       value="{{ tablechoice.id }}"
                       {% if tablechoice.is_check %}
                         checked
                       {% endif %} />
              </div>
              <div class="col-11">
                <h3 class="text-end">
                  <span class="badge text-bg-dark">
                    <a class="text-white"
                       href="{% url 'contentdocument' document_id=tablechoice.document.pk %}">{{ tablechoice.document.procedure_type }}</a>
                  </span>
                </h3>
                <div class="ms-auto mt-3 text-start mb-3">
                  <div>
                    <b>{{ tablechoice.document.decision_type }}</b>, du {{ tablechoice.document.decision_date }}
                    <b>Result:</b> {{ tablechoice.document.result }}
                  </div>
                </div>
                <div class="mb-3 ms-auto">
                  <div>
                    <b>Normes:</b> {{ tablechoice.document.standards }}
                  </div>
                </div>
                <div class="mb-3 ms-auto">
                  <div>
                    <b>Extraits:</b> {{ tablechoice.document | get_sample_document }} ...
                  </div>
                </div>
              </div>
              <hr />
            {% endfor %}
          </div>
        </div>
        <div class="col-12 mb-3 mx-auto">
          <div class="d-flex justify-content-between">
            {% if not first_page %}
              <div class="col-4 text-start">
                <input class="btn btn-outline-dark"
                       type="submit"
                       name="submit"
                       value="previous" />
              </div>
            {% endif %}

            <div class="col-12 text-end">
              page: <span class="fw-bold">{{ current_page }}/{{ total_page }}</span>
            </div>

            {% if not last_page %}
              <div class="col-4 text-end">
                <input class="btn btn-outline-dark"
                       type="submit"
                       name="submit"
                       value="next" />
              </div>
            {% endif %}
          </div>
        </div>
        <div class="col-10 mx-auto">
          <div class="p-4 bg-light">
            <div class="row text-center">
              <div class="col">
                Article checked: <span class="article-counter-bottom fw-bold">{{ number_Article_chosen }}</span>
              </div>
              <div class="col">
                Check/Uncheck all
                <input class="form-check-input ms-3"
                       type="checkbox"
                       onclick="toggle(this)" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-8 mx-auto mb-5">
          <div class="row justify-content-center mt-3 gap-md-3 gap-sm-2 gap-lg-5">
            <button type="submit"
                    name="submit"
                    value="iterate"
                    class="col-md-3 col-sm-12 btn btn-secondary mb-2 btn-lg">
              Iterate
            </button>
            <button type="submit"
                    name="submit"
                    value="reset"
                    class="col-md-3 col-sm-12 btn btn-secondary mb-2 btn-lg">
              Reset
            </button>
            <button type="submit"
                    name="submit"
                    value="finish"
                    class="col-md-3 col-sm-12 btn btn-primary mb-2 btn-lg">
              Export Selected
            </button>
          </div>
        </div>
        <hr class="mb-5" />
      </form>
    </div>
  </div>
{% endblock content %}

{% block jscode %}
  <script src="{% static 'js/select_functions.js' %}"></script>
  <script src="{% static 'js/checkbox_counter.js' %}"></script>
  <script>
    const selectOrderBy = document.getElementById('order_by');
    const applyOrderButton = document.getElementById('apply_order_button');

    console.log('Select:', selectOrderBy.value);
    console.log('Apply:', applyOrderButton.value);

    selectOrderBy.addEventListener('change', () => {
      console.log('Order selected:', selectOrderBy.value);
      applyOrderButton.click();
    });

  </script>
{% endblock jscode %}
