{% extends "base.html" %}

{% load static %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center color-b"
       style="min-height: 60vh">
    <div class="container-md text-center">
      <span class="text-light logo-literev mb-4 d-block">
        Lite<span class="text-primary">Rev</span>
      </span>
      <br />
      <div class="text-center text-light fs-2 fs-sm-3 fs-md-1 mt-5">
        <span class="mb-4 d-block display-4 lh-1">
          Smarter research. Better insights.
        </span>
      </div>
    </div>
  </div>

  <div class="container py-8"
       style="padding-top: 85px">
    <h1 class="display-5 fw-bold text-center">
      Meet the Team
    </h1>

    <!-- Co-founders Section -->
    <div class="row justify-content-center align-items-center g-4 mb-5"
         style="padding-top: 40px">
      <div class="col-md-6 d-flex flex-column align-items-center">
        <img src="{% static 'images/team/co_founders.jpeg' %}"
             class="img-fluid mb-3"
             alt="Co-founders"
             style="border: 2px solid #ddd;
                    border-radius: 20%;
                    width: 120%;
                    height: auto;
                    max-width: 600px" />
        <h5 class="text-center mt-3">
          Co-Founders
        </h5>
        <p class="text-muted text-center">
          CEO, CPO, and Chairman
        </p>
      </div>
    </div>

    <!-- First Row of Team Members -->
    <div class="row justify-content-center g-4 mb-5">
      <div class="col-md-4 text-center">
        <img src="{% static 'images/team/aziza.jpeg' %}"
             class="img-fluid mb-3"
             style="border: 2px solid #ddd;
                    border-radius: 20%;
                    width: 100%;
                    height: auto"
             alt="Aziza Merzouki" />
        <h5>
          Aziza Merzouki
        </h5>
        <p class="text-muted">
          Co-founder & CEO
        </p>
      </div>
      <div class="col-md-4 text-center">
        <img src="{% static 'images/team/erol.jpeg' %}"
             class="img-fluid mb-3"
             style="border: 2px solid #ddd;
                    border-radius: 20%;
                    width: 95%;
                    height: auto"
             alt="Erol Orel" />
        <h5>
          Erol Orel
        </h5>
        <p class="text-muted">
          Co-founder & CPO
        </p>
      </div>
      <div class="col-md-4 text-center">
        <img src="{% static 'images/team/olivia.jpeg' %}"
             class="img-fluid mb-3"
             style="border: 2px solid #ddd;
                    border-radius: 20%;
                    width: 85%;
                    height: auto"
             alt="Olivia Keiser" />
        <h5>
          Olivia Keiser
        </h5>
        <p class="text-muted">
          Chairman
        </p>
      </div>
    </div>

    <!-- Second Row of Team Members -->
    <div class="row justify-content-center g-4 mb-5">
      <div class="col-md-4 text-center">
        <img src="{% static 'images/team/ivan.jpeg' %}"
             class="img-fluid mb-3"
             style="border: 2px solid #ddd;
                    border-radius: 20%;
                    width: 65%;
                    height: auto"
             alt="Ivan Osagawara" />
        <h5>
          Ivan Osagawara
        </h5>
        <p class="text-muted">
          Lead Developer
        </p>
      </div>
      <div class="col-md-4 text-center">
        <img src="https://github.com/esloch.png"
             class="img-fluid mb-3"
             style="border: 2px solid #ddd;
                    border-radius: 20%;
                    width: 65%;
                    height: auto"
             alt="Sandro Loch" />
        <h5>
          Sandro Loch
        </h5>
        <p class="text-muted">
          DevOps Engineer
        </p>
      </div>
    </div>

    <!-- Third Row of Team Members -->
    <div class="row justify-content-center g-4 mb-5">
      <div class="col-md-4 text-center">
        <img src="https://github.com/EverVino.png"
             class="img-fluid mb-3"
             style="border: 2px solid #ddd;
                    border-radius: 20%;
                    width: 65%;
                    height: auto"
             alt="John Ever Vino Duran" />
        <h5>
          John Ever Vino Duran
        </h5>
        <p class="text-muted">
          Full-Stack Developer
        </p>
      </div>
      <div class="col-md-4 text-center">
        <img src="{% static 'images/team/mia.png' %}"
             class="img-fluid mb-3"
             style="border: 2px solid #ddd;
                    border-radius: 20%;
                    width: 65%;
                    height: auto"
             alt="Mia Müller" />
        <h5>
          Mia Müller
        </h5>
        <p class="text-muted">
          Head of Marketing
        </p>
      </div>
    </div>

    <!-- Four Row of Participations -->
    <h2 class="text-center mb-4"
        style="padding-top: 40px">
      With the participation of
    </h2>

    {% include "components/partners.html" %}

  </div>

{% endblock content %}
