{% extends "account/base.html" %}

{% block head_title %}
  Logout
{% endblock head_title %}

{% block content %}
  <div id="logout">
    <form class="mb-3 mt-md-4 text-center"
          action="{% url 'account_logout' %}"
          method="post">
      {% csrf_token %}
      <h2 class="fw-bold mb-2">
        LiteRev
      </h2>
      <p class="mb-4">
        Are you sure you want to log out?
      </p>
      {% if redirect_field_value %}
        <input type="hidden"
               name="{{ redirect_field_name }}"
               value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="d-flex flex-wrap justify-content-center gap-2">
        <button class="btn btn-primary"
                type="submit">
          Logout
        </button>
        <a class="btn btn-outline-dark"
           href="{% url 'home' %}">
          Cancel
        </a>
      </div>
    </form>
  </div>
{% endblock content %}
