<!-- help button -->
<div class="dropup position-absolute bottom-0 end-0 rounded-circle m-5">
  <button type="button"
          class="btn btn-dark btn-lg dropdown-toggle hide-toggle rounded-pill"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          aria-haspopup="true">
    <i class="fa-solid fa-question"></i>
    <span class="visually-hidden">How to make a query?</span>
  </button>
  <ul class="dropdown-menu">
    <li class="dropdown-header fw-bold">
      Guidelines for Making Queries
    </li>
    <li>
      <a class="dropdown-item"
         href="#">You can make queries using either Natural Language or Boolean Query.</a>
    </li>
    <li>
      <a class="dropdown-item text-danger"
         href="#">Note: The Boolean Query field is required for search.</a>
    </li>
    <li>
      <hr class="dropdown-divider" />
    </li>

    <li class="dropdown-header fw-bold">
      Natural Language Query Examples
    </li>
    <li>
      <a class="dropdown-item"
         href="#">1. Quel est le minimum vital en France dans le cas d'un divorce avec des enfants ?</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#">2. Comment le droit civil traite-t-il le harcèlement sur le lieu de travail ?</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#">3. Quels sont les droits des locataires selon les décisions des tribunaux administratifs ?</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#">4. Existe-t-il des affaires concernant des litiges de propriété intellectuelle au tribunal pénal ?</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#">5. Comment la garde des enfants est-elle décidée en cas de divorce en France ?</a>
    </li>
    <li>
      <hr class="dropdown-divider" />
    </li>

    <li class="dropdown-header fw-bold">
      Boolean Query Examples
    </li>
    <li>
      <a class="dropdown-item"
         href="#">1. ("minimum vital" AND France AND divorce AND enfants)</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#">2. ("harcèlement au travail" OR "abus professionnel") AND "droit civil"</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#">3. ("droits des locataires" AND expulsion AND "tribunal administratif")</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#">4. ("propriété intellectuelle" OR marque déposée) AND ("tribunal pénal")</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#">5. ("garde d'enfants" AND divorce AND France)</a>
    </li>
  </ul>
</div>
<!-- ----- -->
