{% load static %}

<div class="col-8 mx-auto">
  <div class="row row-cols-1 row-cols-lg-4 g-5 py-2">
    <div class="col my-2">
      <a href="https://unige.ch/"
         target="_blank">
        <div class="py-5 d-grid align-items-center  h-100 overflow-hidden rounded-4">
          <img class="mx-auto"
               width="100%"
               src="{% static 'images/partners/ug.png' %}"
               alt="" />
        </div>
      </a>
    </div>
    <div class="col my-2">
      <a href="https://thegraphnetwork.org/"
         target="_blank">
        <div class="py-5 d-grid align-items-center h-100 overflow-hidden  rounded-4">
          <img class="mx-auto"
               width="50%"
               src="{% static 'images/partners/tgn.png' %}"
               alt="" />
        </div>
      </a>
    </div>
    <div class="col my-2">
      <a href="https://www.opensciencelabs.org/"
         target="_blank">
        <div class="py-5 d-grid align-items-center  h-100 overflow-hidden rounded-4">
          <img class="mx-auto"
               width="100%"
               src="{% static 'images/partners/osl.png' %}"
               alt="" />
        </div>
      </a>
    </div>
    <div class="col my-2">
      <a href="https://www.hug.ch/"
         target="_blank">
        <div class="py-5 d-grid align-items-center  h-100 overflow-hidden rounded-4">
          <img class="mx-auto"
               width="100%"
               src="{% static 'images/partners/hug2.png' %}"
               alt="" />
        </div>
      </a>
    </div>
  </div>
</div>
